.logo-comfandi {
    text-align: center;
}

.logo-comfandi img {
    width: 10%;
    transition: all .4s;
    float: right;
}

.panel-principal {
    margin: 4vh 15% 4vh 15%;
    min-width: 350px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.panel-principal h1 {
    margin: 0px 0px 12px 8%;
    font-size: 40px
}

@media (max-width: 700px) {
    .panel-principal {
        width: 90%;
    }

    .logo-comfandi img {
        width: 50%;
        transition: all .4s;
    }
}

@media (max-width: 400px) {
    .logo-comfandi img {
        width: 50%;
        transition: all .4s;
    }

    .panel-principal {
        width: 100%;
    }
}